/* ATENï¿½ï¿½O !!!
Este ï¿½ o arquivo CSS obrigatï¿½rio para todas telas do sistema, somente adicione classes 
quando for necessï¿½rio para todas telas, caso contrï¿½rio crie um arquivo CSS separado para a tela especifica.

JEAN MARCEL - DESIGNER

*/
*, html, body{
font-family:Arial, sans-serif;font-size:10px;font-size-adjust:10px;letter-spacing:-0.1px;list-style:none;}
* {margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
table, tr, td{font-size:11px;font-weight:bold}
textarea, input, select{font-size:10px;color:#333;border:1px #006699 solid;font-weight:normal; z-index:1;}
fieldset{border:1px solid #006699;padding-left:4px;padding-bottom:4px}
legend{line-height:15px;color:#0066CC;font-size:12px;font-weight:bold;text-align:left}
input{text-transform:uppercase;padding-left:3px;height:16px;padding-top:1px;font-weight:normal}
select{height:14px}
option{padding-left:3px}
textarea{height:35px}
.background{background:#006699;color:#fff;font-size:11px;font-weight:bold}
body{color:#333;background:#ffffff;scrollbar-arrow-color:#fff;scrollbar-3dlight-color:#d6d7d6;scrollbar-arrow-color:#fff;scrollbar-3dlight-color:#d6d7d6;
scrollbar-highlight-color: #d6d7d6;scrollbar-face-color:#006699;scrollbar-shadow-color:#d6d7d6;
scrollbar-darkshadow-color: #fff;scrollbar-track-color:#E4E4E4}
a{color:#000000;font-size:11px}
a:hover{color:#ff0000}
a:active{color:#ff0000}
a, a:hover, a:active, a:visited{font-weight:bold;text-decoration:none}
.botao2{background:url("../images/bg_botao2.jpg") repeat-x left top;color:#fff;font-size:11px;width:50px;height:18px;text-align:center;padding:0px;cursor:pointer;border:1px outset #fff;background-color: #006699;font-weight:bold;text-transform:none}
.botao3{background:url("../images/bg_botao.jpg") repeat-x left top;color:#fff;border:1px outset #fff;width:40px;background-color:#006699;height:16px;text-align:center;padding:0px;cursor:pointer;text-transform:none; font-weight:normal}
.bt_excluir{background:url("../images/bg_excluir.jpg") repeat-x left top;color:#fff; font-weight: normal;border:1px outset #fff;background-color:#990000;width:40px;height:16px;text-align:center;padding:0px;cursor:pointer;text-transform:none}
.botao2:focus, .botao:focus, .botao3:focus, .bt_excluir:focus, .bt_cad:focus, .bt_exc:focus { background:#006699}
.barra_direita{background-image:url("../images/barra_direita.gif");background-position:left;color:#fff;height:23px;font-weight:bold;font-size:11px;width:40%} /* width:306px */
.barra_esquerda{background-image:url("../images/barra_esquerda.gif");background-position:right;height:23px;font-weight:bold}
.canto_esquerdo{background-image:url("../images/canto_esquerdo.gif");background-position:left}
.canto_direito{background-image:url("../images/canto_direito.gif");background-position:right}
.barra_direita, .barra_esquerda, .canto_esquerdo, .canto_direito {background-repeat:no-repeat}
.canto_direito_fundo{background-image:url("../images/canto_direito_fundo.gif");background-repeat:no-repeat;background-position:right}
.canto_esquerdo_fundo{background-image:url("../images/canto_esquerdo_fundo.gif");background-repeat:no-repeat;background-position:left}
.background_forte{background:#006699}
.cab_title {font-size:11px;font-weight:bold;color:#fff}
.background_claro{background:#c8c8c8}
.background_branco{background:#fff}
.background_erro{background: #fffF8A}
.background_verde{background:#66FF99}
.background_azul{background:#3399FF;font-weight:normal}
.background_azul_claro{background:#CEDEEC;font-weight:normal}
.background_lilas_azulado_claro{background:#FFB08A;}
.background_GreenYellow {background-color:#F90 }
.legenda_guia{font-size:11px;font-weight:bold;color:#fff}


.background_branco > table {background:#fff; border: 1px solid #fff; font-size: 10px}
.background_verde > table {background:#66FF99; border: 1px solid #fff; font-size: 10px}
.background_azul > table {background:#3399FF; font-weight:normal; font-size: 10px; border: 1px solid #fff;}

/*precisa enxugar esta parte aqui*/
.background_forte, .background_GreenYellow, .background_light, .background_lilas_azulado_claro, .background_verde, .background_claro, .background_branco, .background_erro, .background_azul {font-size:10px;color:#000;font-weight:normal;border:1px #006699 solid;border-collapse:collapse;padding-left:2px;padding-right:2px;height:16px}
.background_GreenYellow a, .background_lilas_azulado_claro a, .background_forte a, .background_light a, .background_verde a, .background_claro a, .background_branco a, .background_erro a, .background_azul a{font-size:10px;font-weight:normal}
.background_GreenYellow a:hover, .background_lilas_azulado_claro a:hover, .background_forte a:hover, .background_light a:hover, .background_verde a:hover, .background_claro a:hover, .background_branco a:hover, .background_azul a:hover, .background_erro a:hover{font-size:10px;font-weight:normal}


/*fim */
 
.background_light{background:#E4E4E4;border: 1px #CCC solid}
.principal_fundo{vertical-align:top;height:324px;border:1px solid #006699;padding:0px 5px 0px 5px;background:#d6d7d6}
div.rolagem{width:100%;overflow:auto}
.consulta_titulo{color:#fff;background:#006699;text-align:center;border:1px #fff solid;height:17px;line-height:12px;font-size:10px}
.consulta_titulo a:link{font-size:10px;color:#FFFFFF}
.consulta_titulo a:hover{font-size:10px;color:#FFFF00}
input.campo_trans{height:15px;background:#E4E4E4; border: none; width:100%}
input.campo_transbranco{padding-left: 2px; padding-right: 2px; height:15px;background:#fff;border:1px e4e4e4;width:100%}

.aba, .aba_ativa, .aba_vazia{text-align:center;font-size:11px;color:#fff;background:#006699;border:1px solid #fff;width:15%} /* 115px */
.aba{background:#069;}
.aba_ativa{background:#008ed2}
.aba_vazia{background:#fff}
.aba a {color:#fff}
.aba a:hover, .aba a:active {color:#ff6}

.carregando {
    display:none; 
    position:absolute; 
    left: 878px; 
    top: 5px;
}
#calendario_corpo {
    display:none;
    width: 300px;
    position:relative;
    float: left;
}

#calendario_loading {
    display:none;
    width: 300px;
    position:relative;
    float: left;
}
#calendario_formulaio {
/*                display:none;*/
    width: 90%;
    position:relative;
    float: left;
    margin-left: 50px;
}